@model ModernSlavery.WebUI.Identity.Models.LoggedOutViewModel
@using ModernSlavery.Core.Models
@inject SharedOptions sharedOptions

@{
    Layout = "~/Views/DfeTemplate.cshtml";
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    ViewData["PageTitle"] = $"Sign out - {sharedOptions.ServiceName} - GOV.UK";   
}
@section Head {
    <script type="text/javascript" nonce="@Html.GetNonce()">
        var uri = window.location.toString();
        if (uri.indexOf("?") > 0) {
            var clean_uri = uri.substring(0, uri.indexOf("?"));
            window.history.replaceState({}, document.title, clean_uri);
        }
    </script>
}
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Signed out</h1>
        </div>
        <p>You are now signed out of the @sharedOptions.ServiceName</p>

        @if (Model.PostLogoutRedirectUri != null)
        {
            <div>
                <div class="subsection panel-indent">
                    <div class="bold-small">To sign back in to the service, select continue below.</div>
                </div>

                <p></p>
                <a class="button" href="@Model.PostLogoutRedirectUri" role="button">Continue</a>
            </div>
        }
        else
        {
            <div hide="model.redirectUrl">
                <div class="subsection panel-indent">
                    <div class="bold-small">Click the button below to sign in again.</div>
                </div>

                <p></p>
                <a class="button" href="/manage-organisations" role="button">Sign in</a>
            </div>
        }
    </div>
</div>