@{
    Layout = "~/Views/GdSLayout.cshtml";
    ViewBag.Title = "Feedback sent - Modern Slavery reporting service";
}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Thank you</h1>

            <p>Thank you for giving us your feedback about this service. We regularly update the service and pay careful attention to all the comments we receive.</p><br>

            <a class="govuk-button" asp-action="ManageOrganisations" asp-controller="Submission" asp-area="Submission" role="button">Return to manage organisations</a>
        </div>
    </div>
