@{
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = "Feedback sent - Modern Slavery reporting service";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">Thank you</h1>

            <h2 class="font-medium">Thank you for giving us your feedback about this service. We regularly update the service and pay careful attention to all the comments we receive.</h2><br>

            <a class="button" asp-action="ManageOrganisations" asp-controller="Submission" asp-area="Submission" role="button">Return to manage organistions</a>
        </div>
    </div>
</main>