@using ModernSlavery.Core.Models
@model PrivacyStatementModel
@inject SharedOptions sharedOptions
@{
    Layout = "~/Views/GdsLayout.cshtml";
    ViewBag.Title = "Privacy Policy - Modern Slavery reporting service";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Privacy Policy</h2>

            <p class="govuk-body">This page explains what kind of personal information the Modern Slavery Unit (MSU) holds about you, how it's protected and how you can find out about it.</p>

            <h3 class="govuk-heading-m">What personal information MSU holds about you</h3>

            <p class="govuk-body">If you create an account on our service, MSU will hold the following information about you:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>your personal details: your name, email address and job title</li>
                <li>whether you've signed up to be contacted for feedback purposes or to receive information on webinars, events and new guidance relating to modern slavery</li>
            </ul>

            <p class="govuk-body">In addition, if you register a public sector organisation on your account, or if you manually register any organisation (as opposed to selecting an organisation from our database), we will ask for and retain your telephone number. Users can edit this information within the service, via ‘Manage your account’. </p>

            <p class="govuk-body">
                Furthermore, when you submit a modern slavery statement to our service, MSU
                will hold the name and job title of the director (or equivalent) who signed off the modern slavery for your organisation.
            </p>

            <h3 class="govuk-heading-m">Purpose</h3>
            <p class="govuk-body">We use your personal data to enable the creation of user accounts, and to publish data about the individuals responsible for signing off modern slavery statements in line with legal obligations. </p>

            <h3 class="govuk-heading-m">Legal basis of processing</h3>

            <h4 class="govuk-heading-s">For the publication of the name and job title of the director (or equivalent) who signed off the modern slavery statement:</h4>

            <p class="govuk-body">Processing is necessary to comply with a legal obligation placed on us as the data controller under regulation 15(2) of the Equality Act (Modern Slavery Information) Regulations 2017. </p>

            <h4 class="govuk-heading-s">For processing of user account data:</h4>
            <p class="govuk-body">Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller, in particular:</p>
            <p class="govuk-body">
                Allowing organisations to submit information about their modern slavery statements and publish this information on GOV.UK.
            </p>

            <h3 class="govuk-heading-m">How long MSU keeps your personal data</h3>
            <p class="govuk-body">When you create an account you will be sent an email with a verification link. You will need to verify your account within seven days otherwise we will securely delete all your personal details.</p>
            <p class="govuk-body">Once you have verified your account, we will retain your data as long as we have an ongoing legitimate business need to do so. Where we have no legitimate business need we will securely delete all your personal details.</p>

            <p class="govuk-body">A legitimate business needs means:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>we have a need to retain your details in order to provide services to you or to your organisation</li>
                <li>Information we publish about the name and job title of the director (or equivalent) who signed off the modern slavery statement submitted to the service will be retained for as long is necessary to allow us to perform this public task.</li>
            </ul>

            <h3 class="govuk-heading-m">Sharing your information</h3>
            <p class="govuk-body">The name and job title of the director (or equivalent) who signed off the modern slavery statement submitted for your organisation will be published on GOV.UK.</p>
            <p class="govuk-body">If you register as a user on behalf of your organisation, your name will be shared with other users registered to submit modern slavery statements for your organisation. Your name will not be shared with any other users.</p>
            <p class="govuk-body">Your information will be shared with our mail and email service providers where this is needed to process your registration and with our hosting suppliers and third party IT support companies for the purposes of managing the site. It will also be shared with the Home Office, who currently provide some IT services for us. </p>
            <p class="govuk-body">There are some cases when your information can be shared for other reasons, for example to prevent crime, respond to legal obligations or cooperate with public inquiries.</p>
          
            <h3 class="govuk-heading-m">Where personal data has not been obtained from you</h3>
            <p class="govuk-body">Your personal data was obtained by us from your employer or organisation.</p>

            <h3 class="govuk-heading-m">Your rights</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>You can ask to see and rectify the personal information MSU holds about you. Users can do this by logging into their account on the service via the manage account page.</li>
                <li>In certain circumstances, you may also object to or restrict the processing of your data by MSU by making a request to the <a href="mailto:@(sharedOptions.MsuReportingEmail)" target="_blank">@sharedOptions.MsuReportingEmail</a> mailbox.</li>
                <li>You may close your account within the service, however MSU may retain details about your account in line with legitimate business needs and your rights under the General Data Protection Regulation.</li>
            </ul>

            <h3 class="govuk-heading-m">Contact Details</h3>
            <p class="govuk-body">
                The data controller for your personal data is the Home Office. The contact details for the data controller are: Home Office, 2 Marsham Street, London, SW1P 4DF, or 0207 7035 4848, or <a href="mailto:@(sharedOptions.DataControllerEmail)" target="_blank">@(sharedOptions.DataControllerEmail)</a>.
                The contact details for the data controller’s Data Protection Officer are: Data Protection Officer, 2 Marsham Street, London, SW1P 4DF, or 020 7035 6999, or dpo@homeoffice.gov.uk.</p>
            
            <p class="govuk-body">The Data Protection Officer provides independent advice and monitoring of the Home Office’s use of personal information.</p>

            <h3 class="govuk-heading-m">How to make a complaint</h3>
            <p class="govuk-body">If you're unhappy with the way MSU handled your personal information, you can contact us at modernslaverystatements@homeoffice.gov.uk or:<br /> </p>
            
            <div class="govuk-inset-text">
                <address class="govuk-body">
                    Modern Slavery Unit<br />
                    4th Floor, Peel<br />
                    2 Marsham Street<br />
                    London<br />
                    SW1P 4DF
                </address>
            </div>

            <p class="govuk-body">If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at: Information Commissioner's Office, Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF, or 0303 123 1113, or casework@ico.org.uk. Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.</p>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="form-group">
                    <input name="command" type="submit" class="govuk-button" value="Continue"/>
                </div>
            }
        </div>
    </div>
}