@model ModernSlavery.WebUI.Shared.Models.StatementSummaryViewModel

<div class="statement-section-full" id="monitoring">

    <h2 class="govuk-header-m">Monitoring working conditions (optional)</h2>

    <partial name="Parts/StatementSummary/_Partners" model="Model" />

    <partial name="Parts/StatementSummary/_SocialAudits" model="Model" />

    <partial name="Parts/StatementSummary/_Grievance" model="Model" />

    <partial name="Parts/StatementSummary/_OtherMonitoring" model="Model" />

</div>
