
<div class="app-no-response govuk-grid-column-full">
    <div class="app-no-response__label">
        Organisation’s response
    </div>
    <strong class="govuk-tag govuk-tag--grey">
        The organisation did not answer this question.
    </strong>
</div>