@model ModernSlavery.WebUI.Shared.Models.StatementSummaryViewModel

<div class="statement-section-two-thirds app-statement-summary_url">

    @if (!string.IsNullOrEmpty(Model.StatementEmail))
    {
        <div class="govuk-panel govuk-panel--blue">
            <div class="govuk-panel__body">
                <div class="link-header">Get the full statement</div>
                <div class="link-text">To request a copy of the organisation’s full statement, email:</div>
                <a class="link-text link-text--action wordwrap" href="mailto:@Model.StatementEmail">@Model.StatementEmail</a>
            </div>
        </div>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Why is there no link to the statement on the organisation's website?
                </span>
            </summary>
            <div class="govuk-details__text">
                This organisation does not have a website, so we cannot provide a URL linking to the full statement on its website.
                Organisations that do not have a website, but are required by law to publish a modern slavery statement, must provide a copy of the statement in writing to anyone who requests one within 30 days.
            </div>
        </details>
    }
    else
    {
        <a class="govuk-link" href="@Model.StatementUrl" rel="external">
            <div class="govuk-panel govuk-panel--blue">
                <div class="govuk-panel__body">
                    <div class="link-header">Link to full statement</div>
                    <div class="link-text link-text--action">Go to full modern slavery statement on organisation’s website</div>
                </div>
            </div>
        </a>
    }
</div>