@model CheckYourAnswers

<dl class="govuk-check-your-answers cya-questions-short">
    @foreach (var item in Model.Items)
    {
        <div>
            <dt class="cya-question">
                @item.Name
            </dt>
            <dd id="@item.ValueId" class="cya-answer">
                @Html.Raw(item.Value)
            </dd>
        </div>
    }
</dl>