@model List<string>

@for (var i = 0; i < Model.Count - 1; i++)
{
    <button class="filter"><span class="govuk-body">@(Model[i])</span></button>
    if (Model.Count > 1 && i < Model.Count - 2)
    {
        <span class="govuk-body">or </span>
    }
}

@if (Model.Count == 1)
{
    <button class="filter"><span class="govuk-body">@(Model[0])</span></button>
}
else
{
    <span class="govuk-body"> or </span>
    <button class="filter"><span class="govuk-body">@Model[Model.Count - 1]</span></button>  
}