@using ModernSlavery.Core
@model SearchViewModel
@{
    var results = Model.Organisations!=null ? $"{Model.Organisations.ActualRecordTotal} result{(Model.Organisations.ActualRecordTotal != 1 ? "s" : "")}" : "0 results";
}
<div id="js-search-results-info" data-module="remove-filter" class="result-info">
    <div>
        <h2 class="result-region-header__counter" id="js-result-count">@results</h2>
    </div>
    <div id="js-facet-tag-wrapper" class="facet-tags__container filters" aria-live="assertive">
        <span class="govuk-visually-hidden"> @results sorted by Relevance </span>
        <div class="facet-tags" data-module="track-click">

            @{ var sectorGroup = Model.GetSectorGroup(); }
            @if (sectorGroup.Selections.Count > 0)
            {
                <partial name="Parts/_SearchFilterInfo" model="@sectorGroup" />
            }

            @{ var turnoverGroup = Model.GetTurnoverGroup(); }
            @if (turnoverGroup.Selections.Count > 0)
            {
                <partial name="Parts/_SearchFilterInfo" model="@turnoverGroup" />
            }

            @{ var yearGroup = Model.GetYearGroup(); }
            @if (yearGroup.Selections.Count > 0)
            {
                <partial name="Parts/_SearchFilterInfo" model="@yearGroup" />
            }

        </div>
    </div>
</div>

