@using ModernSlavery.Core
@model SearchViewModel
<p class="result-info">
    <span class="result-count">@(string.Format("{0:n0}", Model.Organisations.ActualRecordTotal))</span>
    <span>organisation</span>
    @if (Model.Organisations.ActualRecordTotal != 1)
    {
        <span>s</span>
    }

    @if (Model.SectorFilterInfo.Count > 0)
    {
        <span> Industry Sector </span>
        <partial name="Parts/_SearchFilterInfo" model="Model.SectorFilterInfo" />
    }

    @if (Model.TurnoverFilterInfo.Count > 0)
    {
        <span> Turnover or budget of </span>
        <partial name="Parts/_SearchFilterInfo" model="Model.TurnoverFilterInfo" />
        if (Model.TurnoverFilterInfo.Count == 1 && Model.TurnoverFilterInfo[0] == "Not Provided")
        {
            <span> an organisation size</span>
        }
        else
        {
            <span> employees</span>
        }
    }


    @if (Model.ReportingYearFilterInfo.Count > 0)
    {
        <span> Statement Year </span>
        <partial name="Parts/_SearchFilterInfo" model="Model.ReportingYearFilterInfo" />
    }

</p>