<div id="SearchResults" class="font-xsmall">
    <span class="govuk-body govuk-!-font-weight-bold">There are no matching results.</span>
    <br /><br />
    <span class="govuk-body">Try searching again using a different spelling, search term, valid organisation name or company number.</span>
    <br /><br />
    <span class="govuk-body">You may not find the organisation you're looking for because:</span>
    <br /><br />
    <ul class="govuk-list govuk-list--bullet">
        <li>
            it may have published a modern slavery statement on its website, but not submitted it to our service
        </li>
        <li>
            it may have produced and submitted a statement under a different name
        </li>
        <li>
            it may be in the process of drafting and submitting its statement to our service          
        </li>
        <li>
            it may not have produced a modern slavery statement (not all organisations are required to produce one)
        </li>
    </ul>
</div>