@model SearchViewModel
<div id="SearchByKeywordsGroup" class="form-group" style="position: relative;">
    <fieldset>
        <h1 class="heading-large">
            Modern slavery statements
        </h1>
        <div class="gov-uk-c-searchbar">
            <div class="gov-uk-l-searchbar__table">
                <div class="gov-uk-l-searchbar__cell">
                    <input id="FinderKeywords"
                           value="@(Model.Keywords)"
                           aria-expanded="false"
                           class="gov-uk-c-searchbar__input"
                           name="search"
                           type="text"
                           autocomplete="off"
                           spellcheck="false"
                           maxlength="100" />
                </div>
                <div class="gov-uk-l-searchbar__cell">
                    <button class="gov-uk-c-searchbar__submit gov-uk-c-searchbar__submit--blue" id="NextStep" type="submit">Search</button>
                </div>

            </div>
        </div>
    </fieldset>

</div>