@using ModernSlavery.Core
@model SearchViewModel
<p class="govuk-body result-info">
    <span class="result-count">@(string.Format("{0:n0}", Model.Organisations.ActualRecordTotal))</span>
    <span>result@(Model.Organisations.ActualRecordTotal != 1 ? "s" : "")</span>
    
    

    @if (Model.SectorFilterInfo.Count > 0)
    {
        <span class="govuk-body"> Industry Sector </span>
        <partial name="Parts/_SearchFilterInfo" model="Model.SectorFilterInfo" />
    }

    @if (Model.TurnoverFilterInfo.Count > 0)
    {
        <span class="govuk-body"> Turnover or budget of </span>
        <partial name="Parts/_SearchFilterInfo" model="Model.TurnoverFilterInfo" />
        if (Model.TurnoverFilterInfo.Count == 1 && Model.TurnoverFilterInfo[0] == "Not Provided")
        {
            <span class="govuk-body"> an organisation size</span>
        }
        else
        {
            <span class="govuk-body"> employees</span>
        }
    }


    @if (Model.ReportingYearFilterInfo.Count > 0)
    {
        <span class="govuk-body"> Statement Year </span>
        <partial name="Parts/_SearchFilterInfo" model="Model.ReportingYearFilterInfo" />
    }

</p>