.change-header
{
    display:flex;

    .govuk-link{
        margin-left:auto;
    }
}

.govuk-body.currency-symbol {
    position: relative;

    &:before {
        content: "£";
        top: 0;
        position: absolute;
        left: -20px;
    }
}


