.app-date-range__container {

    .app-date-range__child {
        display: inline-block;

        > p {
            padding: 10px;
            margin-top: 25px;
            margin-right: 32px;
        }
    }
}
