.app-date-range__container {

    .app-date-range__child {
        display: inline-block;

        > p {
            padding: 10px;
            margin-top: 25px;
            margin-right: 32px;
        }
    }


    @include govuk-media-query($from: desktop) {
        .mobile-errors {
            display: none;
        }

        .desktop-errors {
            display: contents;
        }
    }

    @include govuk-media-query($until: desktop) {
        .mobile-errors {
            display: contents;
        }

        .desktop-errors {
            display: none;
        }
    }
}
