.display-message-summary {
    color: #0b0c0c;
    padding: 15px;
    margin-bottom: 30px;
    border: 5px solid darkgreen;
}

.display-message {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    display: block;
    margin-bottom: 15px;
    clear: both;
    color: darkgreen;
}
