.organisation-list {

    div {
        p
        {
            margin:0px;
        }
    }

    .govuk-inset-text {
        border-left: 10px solid $govuk-brand-colour;
        margin-top: 0px;
        margin-bottom:0px;
    }

    .govuk-blue {
        color: $govuk-brand-colour;
    }    

    .buttons{
        vertical-align:middle;
    }
}

button.link-button {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    color: $govuk-brand-colour;
    font-size: 19px;

    &.find-organisation {
        padding:0px;
        margin-bottom:20px;
    }
}

