.pagination-link {
    color: $govuk-link-colour;
    text-decoration: none;

    .pagination-link-title {
        display: block;
        border: none;
        margin: 0;
        padding: 0;
    }

    .pagination-link-text {
        box-sizing: border-box;
        font-size: 19px;
        font-weight: bold;
    }

    .pagination-link-label {
        margin-left: 22px;
        display: inline-block;
        margin-top: .1em;
        text-decoration: underline;
    }
}
.pagination-next {
    .next-arrow {
        display: inline-block;
        background: url("/assets/images/arrow-next.svg") no-repeat ;
        height:15px;
        width:20px;
    }
}
.pagination-prev {
     
    .prev-arrow {
        display: inline-block;
        background: url("/assets/images/arrow-previous.svg") no-repeat;
        height: 15px;
        width: 20px;
       
    }
}


.pagination {

    div {
        padding-bottom: 20px;
        padding-top:20px;
    }

    .pagination-prev, .pagination-next {
         &:hover, &:active {
            background-color: govuk-colour("light-grey", $legacy: "grey-4");
        }
    }

    div:nth-child(2) {
        border-top: 1px solid $govuk-border-colour;
      }

    span {
        color: $govuk-brand-colour;
    }

    .pagination-button {
        border: none;
        background: none;
        cursor: pointer;
        color: $govuk-brand-colour;
        font-size: 19px;
        text-align: left;
        text-decoration: none;

        .pagination-numbers {
            text-decoration: underline;
            margin-left: 25px;
        }
    }
}
