#FinderForm .govuk-grid-row, #SearchForm .govuk-grid-row {
    clear: both
}

.search-results-list {
    .govuk-grid-row {
        border-bottom: solid 1px $govuk-border-colour;
        margin: 15px 0px;
    }

    .govuk-grid-column-one-third, .govuk-grid-column-two-thirds {
        padding: 0px;       
    }

    .blue-header a, .blue-header {
        color: $govuk-link-colour;
        text-decoration: none;
    }

    .govuk-grid-column-one-third p {
        float: right;
    }

    .grey-text {
      color:  $govuk-border-colour;
    }

    .small{
        display:none;
    }
}

@media (max-width: 40.0525em) {
      
    
    .search-results-list {

        .wide {
            display: none;
        }

        .small {
            display: inline;
        }

        .address {
            font-size: 14px;
        }

        .company-number {
            font-size: 12px;
        }
    }
}
