@inject IWebService WebService
@model OrganisationViewModel
@{
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = "Your organisation type - Modern Slavery reporting service";
}

<a id="BackLink" class="link-back" href="@Model.BackAction">Back <span class="visuallyhidden"> to the previous question</span></a>
<div id="grid-row">
    <div class="column-two-thirds">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.SearchText)

            @await Html.CustomValidationSummaryAsync()

            <h1 class="heading-large">
                Registration options
            </h1>

            <div id="SectorTypeGroup" class="form-group @Html.SetErrorClass(model => model.RegistrationType, "error")">
                <fieldset>
                    <legend>
                        If you received a letter from us with an organisation reference and security code, select the following option:
                    </legend>

                    <div class="multiple-choice">
                        <input id="fasttrack" type="radio" name="RegistrationType" value="fasttrack">
                        <label for="fasttrack" class="strong">
                            Fast track
                        </label>
                    </div>

                    <legend style="clear:both; padding-top: 20px;">
                        If you didn't receive a letter from us, you need to tell us what type of organisation you want to register.
                    </legend>

                    <div class="multiple-choice">
                        <input id="public" type="radio" name="RegistrationType" value="public">
                        <label for="public" class="strong">
                            Public sector organisation
                        </label>
                        <div>
                            <p>This includes most government departments, the armed forces, local authorities, NHS bodies, universities, and most schools (including academies and multi-academy trusts)</p>
                        </div>
                    </div>
                    <div class="multiple-choice">
                        <input id="private" type="radio" name="RegistrationType" value="private">
                        <label for="private" class="strong">
                            Private or voluntary sector organisation
                        </label>
                        <div>
                            <p> This includes private limited companies, public limited companies, limited liability partnerships, charities, independent and private schools, and other private sector organisations</p>
                        </div>
                    </div>
                </fieldset>
            </div>
            <br />

            <input type="submit" class="button" value="Continue" />

            <div>
                <a asp-action="ManageOrganisations" asp-controller="Submission" asp-area="Submission" style="display: inline-block; margin-top: 1em;">Cancel</a>
            </div>
        }
    </div>
</div>