@inject IWebService WebService
@model OrganisationViewModel
@{
    Layout = "~/Views/GdsLayout.cshtml";
    ViewBag.Title = "Your organisation type - Modern Slavery reporting service";
}
@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackAction">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
        {
            @Html.AntiForgeryToken();
            @await Html.GovUkValidationSummaryAsync();

            <h1 class="govuk-heading-l">
                Registration options
            </h1>

            <div id="SectorTypeGroup" class="govuk-form-group @Html.SetErrorClass(model => model.RegistrationType, "govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">
                        If you received a letter from us with an organisation reference and security code, select the following option:
                    </legend>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fasttrack" name="RegistrationType" type="radio" value="fasttrack">
                            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="fasttrack">
                                Fast track
                            </label>
                        </div>

                        <p class="govuk-body govuk-!-margin-top-8">
                            If you didn't receive a letter from us, you need to tell us what type of organisation you want to register.
                        </p>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="public" name="RegistrationType" type="radio" value="public" aria-describedby="public-hint">
                            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="public">
                                Public sector organisation
                            </label>
                            <div id="public-hint" class="govuk-radios__hint">
                                This includes most government departments, the armed forces, local authorities, NHS bodies, universities, and most schools (including academies and multi-academy trusts)
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="private" name="RegistrationType" type="radio" value="private" aria-describedby="private-hint">
                            <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="private">
                                Private or voluntary sector organisation
                            </label>
                            <div id="private-hint" class="govuk-radios__hint">
                                This includes private limited companies, public limited companies, limited liability partnerships, charities, independent and private schools, and other private sector organisations
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <br />

            <input type="submit" class="govuk-button" value="Continue" />

            <p class="govuk-body">
                <a asp-action="ManageOrganisations" asp-controller="Submission" asp-area="Submission" class="govuk-link">Cancel</a>
            </p>
        }
    </div>
</div>