@model DownloadViewModel
@inject IReportingDeadlineHelper ReportingDeadlineHelper
@{
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = "Modern Slavery";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Download Modern Slavery statement
        </h1>
        <p>
            You can download modern slavery statement summaries in CSV format. These files contain organisations’ answers to our questions about their modern slavery statements.
        </p>
        <div>
            <h2 class="heading-medium">
                Organisations who have published their Modern Slavery figures
            </h2>
            @foreach (var deadlineYear in ReportingDeadlineHelper.GetReportingDeadlines(SectorTypes.Public))
            {
                var fromYear = deadlineYear.Year - 1;
                <div class="grid-row">
                    <a href="/Api/Public/StatementSummaries@($"{fromYear}-{deadlineYear.Year}").csv"
                       download="true"
                       data-name="download"
                       target="_blank">Modern slavery statement summaries (@fromYear to @deadlineYear.Year)</a>
                    <span class="info">(CSV)</span> @* TODO - File size *@
                </div>
            }
        </div>
    </div>
</div>