@model DownloadViewModel
@inject IReportingDeadlineHelper ReportingDeadlineHelper
@{
    Layout = "~/Views/GdsLayout.cshtml";
    ViewBag.Title = "Modern Slavery";
}

@section BeforeMain {
    @* Back URL needs filling *@
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>    
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Download modern slavery statement summary data
        </h1>
        <p class="govuk-body govuk-!-font-size-24">
            You can download modern slavery statement summaries in CSV format.
            These files contain organisations’ answers to our questions about their modern slavery statements.
        </p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What are CSV files?
                </span>
            </summary>
            <div class="govuk-details__text">
                These files are in a CSV (Comma Separated Values) format that can be read by any spreadsheet program or word processor.
                They are not formatted for printing.
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Downloads
        </h2>
        @foreach (var deadlineYear in ReportingDeadlineHelper.GetReportingDeadlines(SectorTypes.Public))
        {
            <div class="app-download--row govuk-!-margin-top-7">
                <img class="app-download--image" src="/assets/images/download.svg" alt="Download">
                <div class="app-download--text govuk-!-font-size-27">
                    <a class="govuk-link"
                       href="/Api/Public/StatementSummaries@(deadlineYear.Year).csv"
                       download="true"
                       data-name="download"
                       target="_blank">Modern slavery statement summaries (@deadlineYear.Year)</a>
                    <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-top-2">CSV</p> @* TODO - File size *@
                </div>
            </div>
        }
    </div>
</div>