@model ModernSlavery.WebUI.Shared.Models.StatementSummaryViewModel
@{
    //Required for variables in Sitemap taghelpers
    Layout = "~/Views/GdsLayout.cshtml";
    Title = $"{Model.OrganisationName} modern slavery statement summary ({Model.SubmissionDeadlineYear})";
    Description = $"Read summary details of {Model.OrganisationName}'{(Model.OrganisationName.EndsWithI("s") ? "" : "s")} modern slavery statement ({Model.SubmissionDeadlineYear}). See what steps they’re taking to address modern slavery risks in their supply chains.";
    Robots = RobotDirectives.All;
    ViewBag.pageDescription = $"View {Model.SubmissionDeadlineYear} Modern Slavery statement for {Model.OrganisationName}";
    ViewBag.pageClass = "organisation-report-page";

}

@section BeforeMain {
    <a class="govuk-back-link govuk-!-margin-bottom-0" href="@Controller.BackUrl">Back</a>
}

<div class="govuk-grid-row viewing-statement">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
            @Model.OrganisationName modern slavery statement summary (@Model.SubmissionDeadlineYear)
        </h1>

        <partial name="Parts/StatementSummary/_Address" model="Model.Address" />

        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">
            We asked the organisation a series of questions about its modern slavery statement.
            Its answers are published on this page as a statement summary.
        </p>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What is a modern slavery statement?
                </span>
            </summary>
            <div class="govuk-details__text">
                UK law requires certain organisations to publish an annual modern slavery statement on their website, setting out the steps they are taking to address modern slavery risks in their operations and supply chains.
                Read more in the <a class="govuk-link" href="https://www.gov.uk/guidance/publish-an-annual-modern-slavery-statement" rel="noreferrer noopener">government guidance on publishing modern slavery statements</a>.
            </div>
        </details>

        <h2 class="govuk-heading-m">
            About this statement summary
        </h2>

        <p class="govuk-body govuk-!-font-size-19">
            All answers relate to the financial year covered by the statement. The organisation is responsible for all the information it provided. Some of our questions are optional, so organisations may not have answered all of them. The statement summary does not replace the full modern slavery statement – below we provide a link to the full statement on the organisation’s website.
        </p>

    </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible">

<div class="govuk-grid-row viewing-statement">

    <partial name="Parts/StatementSummary/_Url" model="Model" />

    <div class="contents statement-section-two-thirds">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Contents</p>
        <ul class="govuk-list govuk-list--hyphen govuk-!-font-size-16">
            @if (Model.GroupSubmission == true)
            {
                <li><a class="govuk-link" href="#organisations-covered">Organisations covered by the statement</a></li>
            }
            <li><a class="govuk-link" href="#statement-period">Statement period and sign-off details</a></li>
            <li><a class="govuk-link" href="#areas-covered">Recommended areas covered by the statement</a></li>
            <li><a class="govuk-link" href="#sectors">The organisation’s sectors and turnover</a></li>
            <li><a class="govuk-link" href="#years">Number of years producing statements</a></li>
            <li><a class="govuk-link" href="#policies">Policies</a></li>
            <li><a class="govuk-link" href="#training">Training</a></li>
            <li><a class="govuk-link" href="#monitoring">Monitoring working conditions</a></li>

            <li><a class="govuk-link" href="#risks">Modern slavery risks</a></li>

            <li><a class="govuk-link" href="#indicators">Finding indicators of modern slavery</a></li>
            <li><a class="govuk-link" href="#progress">Demonstrating progress</a></li>
        </ul>
    </div>

    <partial name="Parts/StatementSummary/_Group" model="Model" />

    <partial name="Parts/StatementSummary/_PeriodAndSignOff" model="Model" />

    <partial name="Parts/StatementSummary/_AreasCovered" model="Model" />

    <partial name="Parts/StatementSummary/_SectorsTurnover" model="Model" />

    <partial name="Parts/StatementSummary/_Years" model="Model" />

    <partial name="Parts/StatementSummary/_Policies" model="Model" />

    <partial name="Parts/StatementSummary/_Training" model="Model" />

    <partial name="Parts/StatementSummary/_Monitoring" model="Model" />

    <partial name="Parts/StatementSummary/_Risks" model="Model" />

    <partial name="Parts/StatementSummary/_Indicators" model="Model" />

    <partial name="Parts/StatementSummary/_Progress" model="Model" />

</div>
