@{
    Layout = "~/Views/GdsLayout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Link not working
        </h1>

        <div class="govuk-body">
            The URL linking to the statement on the organisation’s website is not working.
            Try again later – or go to the homepage of the organisation’s website and search for the statement from there.
        </div>
    </div>
</div>