@inject ViewingOptions ViewingOptions
@inject ISnapshotDateHelper SnapshotDateHelper
@using ModernSlavery.Core.Extensions
@using ModernSlavery.Core.Interfaces
@using ModernSlavery.WebUI.Viewing.Classes
@using ModernSlavery.WebUI.Viewing.Controllers
@model CompareViewModel
@{
    int endYear = SnapshotDateHelper.CurrentSnapshotYear;
    int startYear = endYear - (ViewingOptions.ShowReportYearCount - 1);
    if (startYear < SnapshotDateHelper.FirstReportingYear)
    {
        startYear = SnapshotDateHelper.FirstReportingYear;
    }
}
<div class="no-print">
    <ul class="govuk-tabs__list">
        @for (int year = startYear; year <= endYear; year++)
        {
            <li class="govuk-tabs__list-item">
                <!a class="govuk-tabs__tab" href="@Url.Action(nameof(CompareController.CompareEmployers), "Compare", new {year})" @(Model.Year == year ? "selected" : "")>
                    @year/@((year + 1).ToTwoDigitYear())
                </!a>
            </li>
        }
    </ul>
</div>