@if (Controller != null && Controller.ReportingOrganisation != null)
{
    <div class="govuk-grid-column-full service-info govuk-!-font-size-16 service-info ">
        <ul class="service-info-right ">
            <li class="list-item">
                <span id="service-info-reporting-as" class="font-xsmall">Registered as</span>
                <span id="service-info-organisation-name" class="govuk-!-font-weight-bold">@Controller.ReportingOrganisation.OrganisationName</span>
            </li>
        </ul>
    </div>
}