<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="localSettings" type="System.Configuration.AppSettingsSection">
			<section name="localConfigs" type="System.Configuration.AppSettingsSection" />
		</sectionGroup>
		<sectionGroup name="batchRunnerSettings" type="System.Configuration.AppSettingsSection">
			<section name="batchConfigs" type="System.Configuration.AppSettingsSection" />
			<section name="serviceConfigs" type="System.Configuration.AppSettingsSection" />
			<section name="dnsConfigs" type="System.Configuration.AppSettingsSection" />
		</sectionGroup>
	</configSections>
	<appSettings>
	</appSettings>
	<localSettings>
		<localConfigs>
			<add key="AppBaseUrl" value="https://localhost:44371/" />
			<add key="PangolinAppId" value="0ba76fcb-7131-4c3a-b9eb-8e23c830c824" />
			<add key="Download.Url" value="c:\download" />
			<add key="Headless" value="false" />
			<add key="EnableSnapshot" value="false" />
			<add key="AppPublishPath" value="" />
			<add key="ConnectionStringKey" value="" />
			<add key="DataProviderType" value="" />
			<add key="EnableDBReset" value="false" />
			<add key="Browser" value="Chrome" />
			<!--<add key="Browser" value="Firefox" />-->
		</localConfigs>
	</localSettings>
	<batchRunnerSettings>
		<batchConfigs>
			<add key="PangolinServer" value="http://pangolin.geeksltd.co.uk" />
			<add key="PangolinPublisherPath" value="C:\Projects\Pangolin.Publisher" />
			<add key="WebConfigPath" value="" />
		</batchConfigs>
		<serviceConfigs>
		</serviceConfigs>
		<dnsConfigs>
		</dnsConfigs>
	</batchRunnerSettings>
</configuration>