@page "/contact-us"
@using ModernSlavery.Core.Models
@inject SharedOptions sharedOptions
@{
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = "Contact us - Modern Slavery reporting service";
}
<div id="contact-us-content" class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large ">
            Contact us
        </h1>

        <h2 class="heading-medium">Email</h2>
        <p>
            If you're having difficulty using this service, or for general enquires, email us at <a href="mailto:@(sharedOptions.MsuReportingEmail)" target="_blank">@sharedOptions.MsuReportingEmail</a>.
        </p>

        <h2 class="heading-medium">Send feedback</h2>
        <p>If you'd like to leave general feedback about the service please complete our <a href="@Url.Action("SendFeedback","shared")" rel="noopener noreferrer">online feedback form</a>.</p>


        <h2 class="heading-medium">Post</h2>
        <p>
            You can contact us by post at:
        </p>
        <div class="panel">
            <address style="font-style: normal">
                Modern Slavery Unit<br />
                4th floor, Peel<br />
                2 Marsham Street<br />
                London<br />
                SW1P 3BT
            </address>
        </div>
        <p></p>
        <p class="script-only" style="text-align: center;">
            <button class="button" onclick="window.history.back();">Close window</button>
        </p>
    </div>
</div>