@{
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = "Administration: Trigger Webjobs";
}

<main id="content" role="main">
    <div class="breadcrumbs dynamic-content default-content" style="display: block;">
        <ol>
            <li style="display: block; padding-bottom: 0; padding-top: 0.75em;">
                &lt;
                @Html.ActionLink("Back to administration home", "Home")
            </li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-full">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
            {
                @await Html.CustomValidationSummaryAsync()
                @Html.AntiForgeryToken()

                <h1 class="heading-large" style="margin-top: 0.3em;">
                    <span id="companyname">Administration</span>
                    <span class="heading-secondary">Trigger Webjobs</span>
                </h1>
                if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
                {
                    <p style="color: darkgreen; font-weight: bold;">@Model.SuccessMessage</p>
                }
                <h3 class="heading-small">COMMAND</h3>
                <select name="webjobname" id="webjobname">
                    <option value="" selected="true">Please select...</option>
                    <option value="CheckSiteCertAsync">Check the website certificate is not due to expire</option>
                    <option value="FixLatestAsync">Set organisation latest address, scope, statement etc</option>
                    <option value="FixOrganisationAddresses">Fix organisation address statuses</option>
                    <option value="PurgeOrganisations">Remove parially registerd orgs from database</option>
                    <option value="PurgeRegistrations">Remove incomplete user registrations for organisations from database</option>
                    <option value="PurgeStatementData">Remove retired submitted statements from database</option>
                    <option value="PurgeUsers">Remove incomplete user registrations from database</option>
                    <option value="ReferenceOrganisations">Ensure all organisations have unique references</option>
                    <option value="SendReminderEmails">Send due reminder emails</option>
                    <option value="SetIsUkAddressesAsync">Set UK flag for all addresses with UK postcodes</option>
                    <option value="SetPresumedScopes">Ensure all organisations have presumed scopes for all years</option>
                    <option value="StorageHealthCheck">Check database storage capacity</option>
                    <option value="TakeSnapshotAsync">Take a snapshot of all the file storage</option>
                    <option value="UpdateDownloadFiles">Update files for statement data used for downloads</option>
                    <option value="UpdateFromCompaniesHouseAsync">Update organisations names, addresses and SIC Codes from companies house</option>
                    <option value="UpdateOrganisationsAsync">Update organisations download file</option>
                    <option value="UpdateOrganisationSearchIndexesAsync">Update the azure search indexes</option>
                    <option value="UpdateOrphanOrganisationsAsync">Update orphan organisations download file</option>
                    <option value="UpdateRegistrationAddressesAsync">Update registration addresses download file</option>
                    <option value="UpdateRegistrations">Update registrations download file</option>
                    <option value="UpdateScopes">Update scopes download file</option>
                    <option value="UpdateSubmissions">Update statements download file</option>
                    <option value="UpdateUnverifiedRegistrations">Update unverified registrations download file</option>
                    <option value="UpdateUsers">Update users download file</option>
                    <option value="UpdateUsersToContactForFeedback">Update users to contact for feedback download file</option>
                    <option value="UpdateUsersToSendInfo">Update users to send infomation download file</option>
                </select>

                <p>
                    <button type="submit" class="button" role="button" onclick="if (!confirm('Are you sure you want to trigger this webjob?')) return false;">Execute</button>
                </p>
            }
        </div>

    </div>
</main>