@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model BeforeYouStartViewModel

@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Model.PageTitle
        </h1>
        <p class="govuk-body">
            To use this service, you will need to provide us with some basic information about your most recent modern slavery statement.
        </p>
        <p class="govuk-body">
            We will then ask you some additional questions about your statement. These are optional – but we strongly encourage you to complete them.
        </p>

        <span class="govuk-body govuk-!-font-weight-bold">
            Publishing your answers on GOV.UK
        </span>
        <p class="govuk-body">
            When you submit your answers, we will publish all the information you’ve provided on the Modern slavery statement registry on GOV.UK, along with a link to the full statement on your website. This is available for public viewing.
        </p>

        <span class="govuk-body govuk-!-font-weight-bold">
            Making changes after you’ve submitted your answers
        </span>
        <p class="govuk-body govuk-!-padding-bottom-3 ">
            After we’ve published your answers on the statement registry, you can still make changes and resubmit. Your updated information will then replace your original answers on the registry.
        </p>

        <a href="@Model.ContinueUrl" class="govuk-button">
            Continue 
        </a>

    </div>
</div>
