@{
    Layout = "/Views/GdsLayout.cshtml";
    Title = Model.PageTitle;
}
@model SubmissionCompleteViewModel
@inject ModernSlavery.Core.Interfaces.IObfuscator Obfuscator
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
            <h1 class="govuk-panel__title">
                @Model.PageTitle
            </h1>
        </div>


        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">What happens next</h2>

        <p class="govuk-body">The information you've submitted is now published on the Modern slavery statement registry.</p>

        <div class="govuk-!-margin-bottom-4">
            <a class="govuk-link" rel="track" data-track-category="pageElementInteraction" href="@Url.ActionArea("StatementSummary", "Viewing", "Viewing", new { organisationIdentifier = Obfuscator.Obfuscate(Model.OrganisationId), year = Model.SubmissionDeadline.Year, returnUrl = Model.ContinueUrl })">View your published statement summary on the registry</a>
        </div>

        <p class="govuk-body">If you want to make changes, you can edit the published information and resubmit it.</p>

        <p class="govuk-body govuk-!-margin-bottom-7">Take 30 seconds to give us some feedback.</p>

        <a class="govuk-button govuk-button--secondary" rel="track" data-track-category="pageElementInteraction" href="@Url.Action("SendFeedback", "Shared",new { signOut = true })">Sign out and give feedback</a>
    </div>
</div>
