@{
    Layout = "/Views/GdsLayout.cshtml";
    Title = Model.PageTitle;
}
@model TransparencyViewModel

@section BeforeMain {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
            @Model.PageTitle
        </h1>
        <p class="govuk-body">Under section 54 of the Modern Slavery Act 2015 modern slavery statements must cover the steps that all relevant organisations have taken to ensure that slavery and human trafficking is not taking place in any of their supply chains or any parts of their business. If an organisation has taken no steps, it must still publish a statement stating this clearly.</p>

        <p class="govuk-body">
            The purpose of the Modern slavery statement registry is to increase supply chain transparency and improve understanding of modern slavery risks and best practice.
        </p>

        <p class="govuk-body govuk-!-margin-bottom-3">
            We acknowledge that identifying and addressing modern slavery risks is a long-term challenge.
            Our aim is for organisations to:
        </p>

         <ul class="govuk-list govuk-list--bullet  govuk-!-margin-bottom-6">
                <li class="govuk-!-margin-bottom-6">
                    be open and transparent about modern slavery risks in their operations and supply chains
                </li>
                <li class="govuk-!-margin-bottom-6">
                    target their actions and prioritise risks in order to have the most impact
                </li>
                <li>
                    make progress over time to address those risks and improve outcomes for workers
                </li>
            </ul>
    

         <p class="govuk-body govuk-!-margin-bottom-7">
             We encourage you to answer all questions as fully as possible.
         </p>

        <a href="@Model.ContinueUrl" class="govuk-button">
            Continue
        </a>

    </div>
</div>
