@model LoadTestingViewModel
@inject ModernSlavery.Core.Options.FeatureSwitchOptions featureSwitchOptions;
@inject Microsoft.Extensions.Hosting.IHostEnvironment hostEnvironment;
@inject DevOpsOptions devopsOptions;
@{
    Layout = "/Views/GdsLayout.cshtml";
    Title = "DevOps: Load Testing";
}
@section BeforeMain {
    <a class="govuk-back-link govuk-!-margin-bottom-0" href="@Url.Action("Home")">Back to DevOps home</a>
}
<h2 style="float:right">DevOps</h2>
<h1 class="heading-large" style="margin-top: 0.3em;">
    <span id="companyname">Load Testing</span>
</h1>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { novalidate = "" }))
            {
                @await Html.GovUkValidationSummaryAsync()

                @Html.AntiForgeryToken()

                <h3>
                    <span>Current Environment:</span>
                    <span style="font-weight:normal">@hostEnvironment.EnvironmentName</span>
                </h3>

                <fieldset>
                    <label for="Action" class="govuk-heading-s">Action:</label>
                    <select id="Action" name="Action" class="govuk-select">
                        <option value="None" selected="selected">[Select action]</option>
                        @if (devopsOptions.AllowDatabaseReset)
                        {
                            <option value="ResetDatabase">Clear database, reseed and reset</option>
                        }
                        @if (devopsOptions.AllowDeleteDownloadFiles)
                        {
                            <option value="DeleteDownloadFiles">Delete download files</option>
                        }
                        @if (devopsOptions.AllowDeleteDraftFiles)
                        {
                            <option value="DeleteDraftFiles">Delete draft files</option>
                        }
                        @if (devopsOptions.AllowDeleteAuditLogFiles)
                        {
                            <option value="DeleteAuditLogFiles">Delete audit log files</option>
                        }
                        @if (devopsOptions.AllowClearQueues)
                        {
                            <option value="ClearQueues">Clear queues</option>
                        }
                        @if (devopsOptions.AllowClearAppInsights)
                        {
                            <option value="ClearAppInsights">Clear Application Insights telemetry logs</option>
                        }
                        @if (devopsOptions.AllowClearCache)
                        {
                            <option value="ClearCache">Clear distributed cache and session</option>
                        }
                        @if (devopsOptions.AllowResetSearch)
                        {
                            <option value="ResetSearch">Delete and recreate search indexes </option>
                        }
                        @if (devopsOptions.AllowDeleteLocalLogs)
                        {
                            <option value="DeleteLocalLogs">Delete local log files</option>
                        }
                        @if (devopsOptions.AllowDeleteSettingsDump)
                        {
                            <option value="DeleteSettingsDump">Delete local file containing dump of app settings</option>
                        }
                    </select>
                    <p class="govuk-body govuk-!-margin-top-3">
                        <button type="submit" class="govuk-button" role="button">Execute</button>
                    </p>
                </fieldset>
            }
        </div>

    </div>
</main>
@section AfterLoadedCompiledScripts {

    <script type="text/javascript" nonce="@Html.GetNonce()">
        $(document).on("submit",
            "form",
            function (e) {

                //Must use a timout here otherwise the 'value' field of submitted buttons is never submitted
                setTimeout(function () { $("button").attr("disabled", true); }, 0);
            });
        $(function () {
            "use strict";
            jQuery(":submit").click(function () {
                if (!confirm('Are you sure you want to execute this action?')) return false;
            });
        });
    </script>
}