/* https://github.com/alphagov/govuk-frontend/tree/master/package/components/tag 

   file: package/components/tag/_tag.scss

*/

.govuk-tag {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #005ea5;
    color: #fff;
    display: inline-block;
    font-family: nta, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.25;
    padding: 5px 8px 0;
    text-decoration: none;
    text-transform: uppercase
}

@media print {
    .govuk-tag { font-family: sans-serif }
}

@media (min-width: 40.0625em) {
    .govuk-tag {
        font-size: 16px;
        line-height: 1.25
    }
}

@media print {
    .govuk-tag {
        font-size: 14pt;
        line-height: 1.25
    }
}

.govuk-tag--inactive { background-color: #6f777b }