.govuk-legend {
    margin-top: 1em;
    text-align: right;
}

.govuk-legend__caption:before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
}

.govuk-legend__caption:after {
    content: attr(data-legend-text);
    margin-left: .5em;
    margin-right: .5em;
}

.govuk-legend__caption--women:before { background-color: #F46A25; }

.govuk-legend__caption--men:before { background-color: #919397; }

.govuk-chart-vert {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 4em;
    margin-top: 1em;
    text-align: center;
    width: 100%;
}

govuk-chart-vert__head {
    bottom: 0;
    display: inline-block;
    height: 100%;
    width: 4em;
}

.govuk-chart-vert__delta {
    background: inherit;
    display: inline-block;
    font-weight: bold;
    height: 4em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 4em;
}

.govuk-chart-vert__delta:before {
    content: attr(data-chart-value);
    left: 0;
    position: absolute;
    right: 0;
}

.govuk-chart-vert__delta:after {
    content: attr(data-chart-text);
    left: 0;
    position: absolute;
    right: 0;
    top: 1em;
}

.govuk-chart-vert__arrow {
    border: solid black;
    border-width: 0 .2em .2em 0;
    bottom: 0;
    display: inline-block;
    left: 1.6em;
    margin-bottom: .75em;
    padding: 3px;
    position: absolute;
}

.govuk-chart-vert__arrow--up {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.govuk-chart-vert__arrow--down {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.govuk-chart-vert__body {
    height: 8em;
    position: relative;
}

.govuk-chart-vert__foot { padding: .5em 0; }

.govuk-chart-vert__bar {
    bottom: 0;
    display: inline-block;
    height: 100%;
    width: 4em;
}

.govuk-chart-vert__bar--women, .govuk-chart-vert__caption--women {
    background-color: #F46A25;
    color: #F46A25;
}

.govuk-chart-vert__bar--men, .govuk-chart-vert__caption--men {
    background-color: #919397;
    color: #919397;
}

.govuk-chart-vert__caption {
    background: inherit;
    border-radius: 50%;
    border-style: solid;
    border-width: .3em;
    display: inline-block;
    font-weight: bold;
    height: 3.5em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 3.5em;
}

.govuk-chart-vert__caption:after {
    content: attr(data-chart-text);
    left: 0;
    position: absolute;
    right: 0;
    top: 1.25em;
}

.govuk-chart-horz {
    margin-top: 1em;
    position: relative;
    width: 100%;
}

.govuk-chart-horz__bar { height: 2em; }

.govuk-chart-horz__bar--men { background-color: #919397; }

.govuk-chart-horz__bar--women { background-color: #F46A25; }

.govuk-chart-horz__foot {
    padding-bottom: 30px;
    padding-top: 8px;
}

@media (min-width: 769px) {
    .govuk-chart-horz__foot { padding-bottom: 36px; }
}

.govuk-chart-horz__text--left {
    left: 0;
    position: absolute;
}

.govuk-chart-horz__text--right {
    position: absolute;
    right: 0;
    text-align: right;
}