@inject SharedOptions sharedOptions
@{
    Layout = "/Views/GdsLayout.cshtml";
    ViewBag.Title = "Confirm your organisation - Modern Slavery reporting service";
    var emailAdd = sharedOptions.MsuReportingEmail;
    var emailSubject = WebUtility.UrlEncode(string.Format("Wrong Organisation Details - {0} - {1}", Model.OrganisationName, Model.EnterCodes.OrganisationReference));

    // c# 6 doesnt compile with razor in mvc5 so cant use string templates here :( need to update to MVC 6
    var mailto = string.Join("", "mailto:", emailAdd, "?subject=", emailSubject);
}
@using ModernSlavery.Core.Models
@model ScopingViewModel

@section BeforeMain {
    <a class="govuk-back-link" href="@Model.StartUrl">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()

            <h1 class="govuk-heading-l">
                Confirm your organisation’s details
            </h1>

            @await Html.PartialAsync("Parts/OrganisationDetailsPart", Model)

            <div class="govuk-inset-text">
                If this information is not correct, please email <a href="@mailto" target="_blank">@sharedOptions.MsuReportingEmail</a>
            </div>

            <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" value="Confirm and continue">
                Confirm and continue
            </button>

        }
    </div>
</div>