@inject ModernSlavery.Core.Interfaces.IObfuscator Obfuscator

@model ScopingViewModel
@{
    Layout = "/Views/GdsLayout.cshtml";
    ViewBag.Title = "Complete - Modern Slavery reporting service";
}
<div class="govuk-grid-row">
    <div class="column-two-thirds">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Declaration complete
                </h1>
                <div class="govuk-panel__body">
                    You have declared your organisation is not required to publish a modern slavery statement on your website
                </div>
            </div>

            @if (Model.EnterAnswers.RequiresEmailConfirmation)
            {
                <p class="govuk-body">We have sent you a confirmation email. We will contact you if we need more information.</p>
            }

            <h2 class="govuk-heading-m">
                Publishing a statement voluntarily
            </h2>
            <p class="govuk-body">
                If you are not legally required to publish a modern slavery statement on your website, you can still create a statement voluntarily and submit it to our service.
            </p>

            <div class="govuk-inset-text govuk-secondary-text-colour">
                To submit a modern slavery statement to our service, <a href="/sign-up">create an account</a> and register your organisation.
            </div>

            <h2 class="govuk-heading-m">
                Tell us about another organisation’s publishing requirements
            </h2>
            <p class="govuk-body">
                If you need to tell us whether another organisation is required to publish a modern slavery statement, click on the ‘start again’ button.
            </p>

            <a class="govuk-button govuk-!-margin-right-1" href="@Model.StartUrl">Start again</a>
        </div> 
    </div>
</div>