@model ScopingViewModel
@{
    Layout = "/Views/GdsLayout.cshtml";
    ViewBag.Title = "Scope already known - Modern Slavery reporting service";
}
<a class="govuk-back-link" href="@Url.Action("OutOfScope")">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form", autocomplete = "off", novalidate = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => Model.OrganisationId)


            <h1 class="govuk-heading-l">
                Your organisation has already declared it is not required to publish a modern slavery statement
            </h1>

            <h2 class="govuk-heading-m">
                Publishing a statement voluntarily
            </h2>

            <p class="govuk-body">
                If you are not legally required to publish a modern slavery statement, you can still create a statement voluntarily and submit it to our service.
            </p>

            <div class="govuk-inset-text">
                To submit a modern slavery statement to our service, <a href="/sign-up">create an account</a> and register your organisation.
            </div>
        }
    </div>
</div>