.gpg-c-notification {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px 10px;
}

.gpg-c-notification--success { border: 4px solid #00823B; }

.gpg-c-notification__title {
    display: block;
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.25;
    text-transform: none;
}