@model GroupSearchViewModel
    <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-7">       
        <div class="govuk-grid-column-two-thirds">
            <div class="organisation-input-table">
                <div class="organisation-input-cell textbox">
                    @Html.LabelFor(m => m.GroupResults.OrganisationName, "Tell us the name of the organisation", new { @class = "govuk-label" })
                    @Html.TextBoxFor(m => m.GroupResults.OrganisationName, new { @class = "govuk-input" })<br />
                </div>
                <div class="organisation-input-cell">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name="addIndex" value="0">
                        Include
                    </button>
                </div>
                <span asp-validation-for="GroupResults.OrganisationName" class="govuk-error-message"></span>

            </div>          
        </div>
        </div>  
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" type="submit" name="command" value="@BaseViewModel.CommandType.ToggleResults">
            Cancel and return to search results
        </button>
