@model GroupSearchViewModel
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading">
                @(Model.OrganisationName) <a class="govuk-link" href="@Model.GroupReviewUrl">group statement</a> (@(Model.ReportingDeadlineYear-1) to @(Model.ReportingDeadlineYear))
            </h2>
        </legend>
    </fieldset>
</div>

