@using System.ComponentModel.DataAnnotations
@{
    Layout = "/Views/GdsLayout.cshtml";
}
@model ModernSlavery.WebUI.Submission.Presenters.StatementViewModel
<div class="govuk-grid-row">
    <div class="govuk-column-two-thirds">
        @using (Html.BeginForm())

        //TODO: add in hidden elements once view model complete
        {
            var controller = ViewData["Controller"] as BaseController;

            @await Html.CustomValidationSummaryAsync();
            @Html.AntiForgeryToken();
            @(Html.GovUkErrorSummary(new[]
                {
                    nameof(ModernSlavery.WebUI.Submission.Presenters.StatementViewModel.StatementStartDate),
                    nameof(ModernSlavery.WebUI.Submission.Presenters.StatementViewModel.StatementEndDate)
                }))
            @(Html.GovUkErrorSummary(new[]
                {
                    nameof(ModernSlavery.WebUI.Submission.Presenters.StatementViewModel.StatementUrl)

                }))
            @(Html.GovUkErrorSummary(new[]
                {
                    nameof(ModernSlavery.WebUI.Submission.Presenters.StatementViewModel.FirstName),
                    nameof(ModernSlavery.WebUI.Submission.Presenters.StatementViewModel.LastName),
                    nameof(ModernSlavery.WebUI.Submission.Presenters.StatementViewModel.JobTitle),
                }))

            <h1 class="govuk-heading-l">
                Your modern slavery statement
            </h1>

            <h2 class="govuk-heading-m">
                Provide a link to the modern slavery statement on your organisation's website
            </h2>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        More information
                    </span>
                </summary>
                <div class="govuk-details__text">
                    It is a legal requirement that your modern slavery statement is published in a prominent place on your organisation’s website.
                </div>
            </details>
            <div class="govuk-form-group">
                <label asp-for="StatementUrl" class="govuk-label"></label>
                <input asp-for="StatementUrl" class="govuk-input govuk-input--width-20" type="text" spellcheck="false">
                <span asp-validation-for="StatementUrl" class="govuk-error-message"></span>
            </div>           

            //Todo: clarify format of errors as GDS as errors messages for dates
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="reporting-start-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-m">
                            What period does this statement cover?
                        </h1>
                    </legend>
                    <span id="reporting-start-hint" class="govuk-hint">
                        For example, 31 3 1980
                    </span>
                    <div class="govuk-grid-row">
                        <div class="govuk-date-input govuk-grid-column-one-third" id="reporting-start">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="reporting-start-day">
                                        Day
                                    </label>
                                    <input asp-for="StatementStartDate.Value.Date" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="reporting-start-month">
                                        Month
                                    </label>
                                    <input asp-for="StatementStartDate.Value.Month" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="reporting-start-year">
                                        Year
                                    </label>
                                    <input asp-for="StatementStartDate.Value.Year" class="govuk-input govuk-date-input__input govuk-input--width-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>

                        </div>
                     
                        @*<p>to</p>*@

                        <div class="govuk-date-input govuk-grid-column-one-third" id="reporting-end">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">                                  
                                    <label class="govuk-label govuk-date-input__label" for="reporting-end-day">
                                        Day
                                    </label>
                                    <input asp-for="StatementEndDate.Value.Date" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="reporting-end-month">
                                        Month
                                    </label>
                                    <input asp-for="StatementEndDate.Value.Date" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="reporting-end-year">
                                        Year
                                    </label>
                                    <input asp-for="StatementEndDate.Value.Date" class="govuk-input govuk-date-input__input govuk-input--width-3" type="text" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-heading-m">
                        What is the name of the director (or equivalent) that signed off your statement?
                    </h1>
                </legend>

                <div class="govuk-form-group">
                    <label asp-for="FirstName" class="govuk-label"></label>
                    <input asp-for="FirstName" class="govuk-input govuk-input--width-20" type="text" spellcheck="false">
                    <span asp-validation-for="FirstName" class="govuk-error-message"></span>                   
                </div>

                <div class="govuk-form-group">
                    <label asp-for="LastName" class="govuk-label"></label>
                    <input asp-for="LastName" class="govuk-input govuk-input--width-20" type="text" spellcheck="false">
                    <span asp-validation-for="LastName" class="govuk-error-message"></span>
                </div>

                <div class="govuk-form-group">
                    <label asp-for="JobTitle" class="govuk-label"></label>
                    <input asp-for="JobTitle" class="govuk-input govuk-input--width-20" type="text" spellcheck="false">
                    <span asp-validation-for="JobTitle" class="govuk-error-message"></span>
                </div>
            </fieldset>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="statement-approved-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-m">
                            What date was your statement approved by the board or equivalent management body?
                        </h1>
                    </legend>
                    <span id="statement-approved-hint" class="govuk-hint">
                        For example, 31 3 1980
                    </span>             
                    <div class="govuk-date-input" id="statement-approved">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="approvedDate-day">
                                    Day
                                </label>
                                <input asp-for="ApprovedDate.Value.Date" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="approvedDate-month">
                                    Month
                                </label>
                                <input asp-for="ApprovedDate.Value.Month" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="approvedDate-year">
                                    Year
                                </label>
                                <input asp-for="ApprovedDate.Value.Year" class="govuk-input govuk-date-input__input govuk-input--width-3" type="text" pattern="[0-9]*" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit">
                Cancel
            </button>
        }
    </div>
</div>
