# Pangolin files
Modern Slavery Reporting UI Tests/PangolinTestResults
Modern Slavery Reporting UI Tests/bin
Modern Slavery Reporting UI Tests/obj
Modern Slavery Reporting UI Tests/packages
Modern Slavery Reporting UI Tests/GCopReport.json
Modern Slavery Reporting UI Tests/GCop/GCop.json
Modern Slavery Reporting UI Tests/Screenshots
