// Author:Charlotte W
// Styles for landing page
//taken from https://github.com/alphagov/product-page-example and modified for our page

#landingpage-content {  
    h2 {
        font-size: 32px;
    }
}
//_borders.scss
.product-page-\!-border-bottom {
    border-bottom: 1px solid $govuk-border-colour;
}


//_hero-alternative-action.scss
.hero-alternative-action {
    @include govuk-font($size: 19);
    white-space: nowrap; 
    position: relative;
    top: govuk-spacing(2)
}

//_hero.scss
.hero {
    @extend .govuk-width-container;
    margin-top: -10px;
    margin-bottom: 0;
    color: govuk-colour('white');

    @include govuk-media-query(tablet) {
        padding: govuk-spacing(5) 0;
    }

    &--breaded {
        padding-top: 0;
    }

    .govuk-link:link,
    .govuk-link:visited {
        color: govuk-colour('white');
    }

    .govuk-link:hover,
    .govuk-link:active {
        color: govuk-colour('white');
    }

    .govuk-link:focus {
        color: $govuk-text-colour;
    }

    &__title {
        @include govuk-font($size: 48, $weight: bold);
        width:90%;
    }

    &__description {
        @include govuk-font($size: 24);
        line-height:21px;
    }

    &__paragraph {
        @include govuk-font($size: 19);
    }

    &__title,
    &__description {
        margin-top: govuk-spacing(3);
        margin-bottom: govuk-spacing(3);

        @include govuk-media-query(tablet) {
            margin-bottom: govuk-spacing(6);
        }
    }  

    &__content {
        @extend .govuk-grid-row;
    }

    &__body,
    &__aside-image {
        float: left;
        width: govuk-grid-width(full);
        box-sizing: border-box;
        padding: 0 govuk-spacing(3);

        a:link,
        a:visited {
            font-weight: bold;
        }
    }

    .arrow{
       margin-left:10px;
    }

    @include govuk-media-query($from: tablet) {
        &__body {
            width: govuk-grid-width(two-thirds);
        }       
    }
}

//_inverted-buttton.scss
$button-shadow-size: $govuk-border-width-form-element;
$app-button-inverted-background-colour: govuk-colour("white");
$app-button-inverted-foreground-colour: govuk-colour("blue");
$app-button-inverted-shadow-colour: govuk-shade($app-button-inverted-foreground-colour, 30%);
$app-button-inverted-hover-background-colour: govuk-tint($app-button-inverted-foreground-colour, 90%);

.app-button--inverted,
.app-button--inverted:link,
.app-button--inverted:visited {
    color: $app-button-inverted-foreground-colour;
    background-color: $app-button-inverted-background-colour;
    box-shadow: 0 $button-shadow-size 0 $app-button-inverted-shadow-colour;
    margin-bottom:10px;
    margin-right:10px;    
}

.app-button--inverted:hover {
    color: $app-button-inverted-foreground-colour;
    background-color: $app-button-inverted-hover-background-colour;
}

.app-button--inverted:focus:not(:hover) {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
}

.app-button--inverted:active,
.app-button--inverted:focus {
    border-color: $govuk-focus-colour;
    color: $app-button-inverted-foreground-colour;
    background-color: $app-button-inverted-hover-background-colour;
    box-shadow: inset 0 0 0 2px $govuk-focus-colour;
}

//_masthead.scss
.masthead {
    background-color: $govuk-brand-colour;
    margin-bottom: govuk-spacing(3);

    @media (max-width: 40.0525em) {
        padding-bottom: govuk-spacing(5);
        }
    }
   
    .govuk-phase-banner {        
        margin-bottom: 10px;
    }

@media (max-width: 40.0525em) {
    .govuk-header{       
        border-bottom: 10px solid $govuk-brand-colour;
    }
    .mobile-no-margin
    {
        margin-bottom:15px !important;
    }

}
.govuk-phase-banner.phase-banner-beta.no-bottom-border{
    border-bottom:none;
}
    



