// Author:Charlotte W
// Styles for viewing => search page

details.advanced-search-details[open] summary .govuk-details__summary-text::after {
    content: attr(data-open);
}

details.advanced-search-details:not([open]) summary .govuk-details__summary-text::after {
    content: attr(data-close);
}

details.advanced-search-details .govuk-details__text {
    border-left: none;
}

.download {
    background: url("/assets/images/icon-file-download.png") no-repeat;
    background-size:contain;   
    span{
       margin-left:25px;
    }
}

.advanced-search-checkboxes__list {
    padding-left: 0px;
}

.right{
    float: right;
    margin-bottom:10px;
}

@media (max-width: 40.0525em) 
{
    .two-columns{
        columns:1;
    }
}



