// Author: JamesL
// Styles for viewing => statement page

.govuk-panel {
    &.govuk-panel--blue {
        color: govuk-colour("white");
        background: govuk-colour("blue");

        .govuk-link {
            color: govuk-colour("white");
        }
    }

    &.govuk-panel--grey {
        color: govuk-colour("white");
        background: #797979;

        .govuk-link {
            color: govuk-colour("white");
        }
    }
}

.govuk-list {
    &.govuk-list--hyphen {

        li:before {
            content: '–';
            margin-right: 5px;
        }

        a.govuk-link {
            text-decoration: none;
        }
    }
}

.app-statement-summary_free-text {
    white-space: pre-line;
    margin: 0;
}

.app-statement-summary_url {

    .app-statement-summary_url-link-broken {
        display: none;
    }

    .app-statement-summary_url-link-working {
    }
}