//Author Charlotte W
//custom styling for pages in the submission journey

.grey-details {
    color: #333333; //colour provided in prototype
}

.skip-link {
    display: inline-block;
    padding: 8px 10px 7px; //matches padding of govuk-botton
}

.app-high-risk {
    .risk-description-edit {
        float: right;
    }

    .risk-description {
        display: inline;
    }

    .buttons button.link-button {
        float: right;
    }

    .autocomplete__input:not(.autocomplete__input--focused):focus {
        outline-width: 0;
    }
}
