@using ModernSlavery.Core.Models
@inject SharedOptions sharedOptions
@inject IWebService WebService
@{    
    Layout = "~/Views/DfeTemplate.cshtml";
    ViewBag.Title = $"Sign out - {sharedOptions.ServiceName} - GOV.UK";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Signed out</h1>
        </div>
        <p>You are now signed out of the <span>@sharedOptions.ServiceName</span>.</p>

        <div>
            <div class="subsection panel-indent">
                <div class="bold-small">To sign back in to the service, select continue below.</div>
            </div>

            <p></p>
            <a class="button" asp-action="Index" asp-controller="Viewing" asp-area="Viewing" role="button">Continue</a>
        </div>
    </div>
</div>